ForwardAgent no
ForwardX11 no
RhostsRSAAuthentication no
RSAAuthentication yes
HostbasedAuthentication no
BatchMode no
CheckHostIP yes
#StrictHostKeyChecking /ask|yes/
#AddressFamily /inet|any/
#LogLevel /INFO|VERBOSE|DEBUG/
Port 22
Protocol 2
MACs hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,umac-128@openssh.com
Tunnel no
PermitLocalCommand no
KexAlgorithms diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1
Host *
GSSAPIAuthentication yes
ForwardX11Trusted yes
SendEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
SendEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
SendEnv LC_IDENTIFICATION LC_ALL LANGUAGE
SendEnv XMODIFIERS

